name: Governance Collaboration Cycle intake

on:
  # issues:
  #   types:
  #     - opened
  workflow_dispatch:
    inputs:
      issue-number:
        description: "Issue number to run this workflow for. This is for testing manual runs only."
        required: false
        type: number

permissions:
  id-token: write
  contents: read

jobs:
  create-milestone:
    name: Create collaboration cycle milestone
    runs-on: ubuntu-latest
    # if: contains(github.event.issue.labels.*.name, 'collaboration-cycle-testing')

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            .github
            scripts/github-actions/gov-team/cc-intake

      - name: Configure AWS Credentials with OIDC
        uses: aws-actions/configure-aws-credentials@v6
        with:
          aws-region: us-gov-west-1
          role-to-assume: ${{ vars.GOVERNANCE_AWS_ASSUME_ROLE }}
          output-credentials: true

      - name: Get GitHub bot token
        uses: department-of-veterans-affairs/action-inject-ssm-secrets@latest
        with:
          ssm_parameter: /devops/VA_VFS_BOT_GITHUB_TOKEN
          env_variable_name: VA_VFS_BOT_GITHUB_TOKEN

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: "./scripts/github-actions/gov-team/cc-intake/.nvmrc"
          cache: "yarn"
          cache-dependency-path: "./scripts/github-actions/gov-team/cc-intake/yarn.lock"

      - name: Install Node modules
        run: yarn install --frozen-lockfile
        working-directory: ./scripts/github-actions/gov-team/cc-intake

      - name: Run script
        run: node cc-intake.js
        working-directory: ./scripts/github-actions/gov-team/cc-intake
        env:
          GITHUB_TOKEN: ${{ env.VA_VFS_BOT_GITHUB_TOKEN }}
          ISSUE_NUMBER: ${{ github.event.inputs.issue-number }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_WORKSPACE: ${{ github.workspace }}
          # ISSUE_NUMBER: ${{ github.event.issue.number || github.event.inputs.issue-number }}
          # GITHUB_TOKEN: ${{ env.VA_VFS_BOT_GITHUB_TOKEN }}

      # TODO: Other scripts needed, or run this all in one script?
      # Pull in Slack channel and GitHub labels from team manifest
      # Code blocks script
      # Needs to do a find/replace on the "Initiate (touchpoint)" links

#   slack-notify:
#     runs-on: ubuntu-latest
#     needs: add-reminder-comments
#     if: always()

#     steps:
#       - name: Configure AWS Credentials with OIDC
#         uses: aws-actions/configure-aws-credentials@v4
#         with:
#           aws-region: us-gov-west-1
#           role-to-assume: ${{ vars.AWS_ASSUME_ROLE }}
#           output-credentials: true

#       - name: Get Slack bot token
#         uses: department-of-veterans-affairs/action-inject-ssm-secrets@latest
#         with:
#           ssm_parameter: /devops/github_actions_slack_bot_user_token
#           env_variable_name: SLACK_BOT_TOKEN

#       - name: Notify Slack
#         uses: slackapi/slack-github-action@v2.1.1
#         env:
#           SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
#         with:
#           method: chat.postMessage
#           token: ${{ env.SLACK_BOT_TOKEN }}
#           payload: |
#             {
#               "channel": "C088E31CS6M",
#               "text": "Staging review reminders script has ${{ needs.add-reminder-comments.result == 'success' && 'completed successfully' || 'failed' }}",
#               "attachments": [{
#                 "color": "${{ needs.add-reminder-comments.result == 'success' && '#36a64f' || '#ff0000' }}",
#                 "blocks": [{
#                   "type": "section",
#                   "text": {
#                     "type": "mrkdwn",
#                     "text": "Staging review reminders script has ${{ needs.add-reminder-comments.result == 'success' && 'completed successfully. To view the results, view the workflow run, then navigate to *add-reminder-comments* > *Run staging review reminder script*.' || 'failed. See the workflow run for more details.' }}\n<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View workflow run>"
#                   }
#                 }]
#               }]
#             }
